@font-face {
    font-family: 'Zilla Slab';
    src: url("ZillaSlab-Light.ttf");
  }


body {
    margin: 4px;
    font-family: 'Zilla Slab';
    color:black;
    background-color: rgb(255, 245, 255);
    margin-bottom: 0px;
  }

.container {
    position: relative;
    padding-top: 10%;
    padding-inline: 25% 25%;
    font-size: 20px;
}
.title {
    text-align: center;
    font-size: 55px;
}

.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(61, 61, 61);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(105, 0, 58);
    text-decoration: underline;
  }

  .blogcontainer {
    position: relative;
    padding-top: 5%;
    padding-inline: 10% 10%;
    font-size: 20px;
}

.blogtitle {
    font-size: 55px;
}

/* Create three unequal columns that floats next to each other */
.row {
    display: flex;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
  }
  
  .metadata {
    flex: 20%;
  }

  .preview {
    flex: 60%;
  }

.tag span{
    background-color:rgb(42, 0, 105);
    color: white;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
}

.posttitle {
    font-size: 35px;
}

.date {
    font-size: 15px;
    color: rgb(61, 61, 61);
    padding-bottom: 5px;
}
  
.column a {
    color: rgb(105, 0, 58);
    text-decoration: none;
  }

.datemins {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(61, 61, 61);
    font-size: 15px;
}