@font-face {
    font-family: 'Zilla Slab';
    src: url("ZillaSlab-Light.ttf");
  }


body {
    margin: 4px;
    font-family: 'Zilla Slab';
    color:black;
    background-color: white;
    margin-bottom: 0px;
  }

body.dark-theme {
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}


.topnav {
    padding-top: 0px;
    z-index: 9999999;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }

  .dark-theme .topnav  {
    background-color: rgb(61, 61, 61);
  }

  .topnav .right {
    float: right;
    color: rgb(61, 61, 61);
    padding: 14px 16px;
    font-style: italic;
    font-size: 17px;
  }

  .topnav .buttonright {
    float: right;
    padding: 9px;
    padding-right: 14px;
  }

  .dark-theme .topnav  .right {
    color: rgb(255, 245, 255);
  }

  @media screen and (max-width: 800px) {
    .topnav .right {
      display: none;
    }
  }

  footer {
    text-align: center;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(61, 61, 61);
    font-size: 10px;
    display: block;
  }

  .dark-theme footer {
    color: rgb(255, 245, 255);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(61, 61, 61);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .dark-theme .topnav a {
    color: rgb(255, 245, 255);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }

  .dark-theme .topnav a:hover {
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(105, 0, 58);
    text-decoration: underline;
  }

  .dark-theme .topnav a.active {
    color: rgb(255, 202, 255);
    text-decoration: underline;
  }

  .content {
    padding: 16px;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .postcontainer {
    position: relative;
    padding-top: 5%;
    padding-inline: 23% 23%;
    font-size: 20px;
}
  .blogcontainer {
    position: relative;
    padding-top: 2%;
    font-size: 20px;
}

.blogcontainer a {
    color: rgb(105, 0, 58);
    text-decoration: none;
}

.dark-theme .blogcontainer a {
    color: rgb(255, 202, 255);
    text-decoration: none;
}

.blogtitle {
    font-size: 65px;
}

/* Create three unequal columns that floats next to each other */
.row {
    display: flex;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-color: black;
  }

  .dark-theme .row {
    border-color: white;
  }
  
  .metadata {
    flex: 20%;
  }

  .preview {
    flex: 60%;
  }

.tagstuffy span{
    background-color:rgb(42, 0, 105);
    color: white;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
}

.dark-theme .tagstuffy span{
  background-color:rgb(216, 190, 255);
  color: rgb(0, 0, 0);
}

.posttitle {
    font-size: 35px;
}

.date {
    font-size: 15px;
    color: rgb(61, 61, 61);
    padding-bottom: 5px;
}

.dark-theme .date {
  color: rgb(255, 245, 255);
}
  
.column a {
    color: rgb(105, 0, 58);
    text-decoration: none;
  }

  .dark-theme .column a {
    color: rgb(255, 202, 255);
  }

.column p {
    color: black;
}

.dark-theme .column p {
  color: white;
}

.datemins {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(61, 61, 61);
    font-size: 15px;
}

.dark-theme .datemins {
  color: rgb(255, 245, 255);
}

.socials {
    padding-top: 2px;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socialsdesc {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials img {
    width: 30px;
    opacity: 0.8;
    padding-inline: 20px;
}

.socials img:hover {
    width: 32px;
}

button {
  all: unset;
  cursor: pointer;
}


.btn-toggle .modeswitch {
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  border: none;
  width: 30px;
  content: url("darkmode.png");
}

.dark-theme .btn-toggle .modeswitch {
  content: url("lightmode.png");
}

.socials .github {
  content: url("github.png");
}

.dark-theme .socials .github {
  content: url("githubdark.png");
}

.socials .spotify {
  content: url("spotify.png");
}

.socials .email {
  content: url("email.png");
}
.dark-theme .socials .email {
  content: url("emaildark.png");
}

.projectbig {
    padding-top: 2%;
}

@media screen and (max-width: 800px) {
    .projectbig {
        text-align: center;
      padding-inline: 2% 2%;
    }
  }

.projectcontainer {
    display: flex;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-color: black;
}

.dark-theme .projectcontainer {
  border-color: white;
}

@media screen and (max-width: 800px) {
    .projectcontainer {
      flex-direction: column;
    }
  }

.projecttitle {
    font-size: 35px;
    padding-bottom: 35px;
}

.projecttitle a {
    color: rgb(105, 0, 58);
    text-decoration: none;
}

.dark-theme .projecttitle a {
  color: rgb(255, 202, 255);
}

.specialtitle {
  font-size: 35px;
  padding-bottom: 5px;
}

.specialtitle a {
  color: rgb(105, 0, 58);
  text-decoration: none;
}

.dark-theme .specialtitle a {
  color: rgb(255, 202, 255);
}

.projectcontainer .column{
    padding-bottom: 25px;
    align-self: column;
    padding-inline: 15px 15px;
}

.projectcontainer .column .info {
    flex: 20%;
}

.projectcontainer .column .desc {
    flex: 60%;
}

.projectpicture img {
    width: 300px;
}

@media screen and (max-width: 800px) {
    .projectcontainer .column {
        padding-inline: 10px 10px;
    }
    .projectpicture img {
        width: 90%;
    }
  }


.projectdescription {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.projectsmall {
  font-size: 20px;
  padding-bottom: 30px;
}

.favoritessection {
    padding-top: 10px;
    padding-bottom: 10px;
}

.favoritessection ul {
    font-size: 20px;
}

.favoritetitle {
    font-size: 30px;
}

.favoritecontainer {
    position: relative;
    padding-top: 4%;
    padding-inline: 15% 15%;
    font-size: 20px;
}

.favoritecontainer a {
    color: rgb(105, 0, 58);
    text-decoration: none;
}

.dark-theme .favoritecontainer a {
  color: rgb(255, 202, 255);
}

@media screen and (max-width: 800px) {
    .favoritecontainer {
      padding-inline: 5% 5%;
    }
    .blogcontainer {
      padding-inline: 5% 5%;
    }
    .postcontainer {
      padding-inline: 5% 5%;
    }
  }

.blogcontent {
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 22px;
}

.blogcontent a {
  color: rgb(105, 0, 58);
  text-decoration: none;
}

.dark-theme .blogcontent a {
  color: rgb(255, 202, 255);
}


.box {
  padding-top: 6%;
  padding-inline: 23% 23%;
  display: flex;
  flex-direction: column;
}


.playlist {
  display: flex;
  flex-direction: column;
}

.playlisttitle {
  display: flex;
  flex-direction: column;
  padding-inline: 10% 5%;
  padding-top: 3%;
  font-size: 65px;
}

.playlistmeta {
  font-size: 17px;
  color:rgb(61, 61, 61);
  text-align: left;
}

a {
  color: rgb(105, 0, 58);
  text-decoration: none;
}

.dark-theme a {
color: rgb(255, 202, 255);
}

.playlistimage img{
  width: 150px;
}

.playlisttop {
 display: flex;
 padding-top: 2%;
 padding-bottom: 2%;
 border-radius: 5px;
 border-color: pink;
 border-width: 1px;
 border-style: dashed;
 justify-content: center;
}


.playlistdesc {
  padding-inline: 3% 3%;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .box {
    padding-inline: 5% 5%;
    justify-content: center;
  }

  .playlistimage {
    padding-top: 5%;
    justify-content: center;
    display: flex;
  }
  .playlistimage img {
    width: 250px;
  }
  .playlisttop {
    flex-direction: column;
  }

  .playlisttitle {
    padding-top: 5%;
    font-size: 45px;
    padding-inline: 5% 5%;
    padding-bottom: 5%;
  }

  .playlistmeta {
    font-size: 13px;
  }

  .playlistdesc {
    padding-inline: 5% 5%;
  }

  .socials {
    justify-content: center;
  }
}

.buttons {
  padding-bottom: 5%;
  z-index: 9999999;
  display: flex;
  justify-content: center;
}

.navbutton {
  padding-inline: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbutton a {
  color: rgb(61, 61, 61);
  text-align: center;
}
.navbutton img {
  width: 40px;
}

.navbutton a:hover {
  color: black;
}

.navbutton a.active{
  color: rgb(105, 0, 58);
  text-decoration: underline;
}

.navbuttontitle {
  text-align: center;
  font-size: 15px;
}