@font-face {
    font-family: 'Zilla Slab';
    src: url("ZillaSlab-Light.ttf");
  }


body {
    margin: 4px;
    font-family: 'Zilla Slab';
    color:black;
    background-color: rgb(255, 245, 255);
    margin-bottom: 0px;
  }

.container {
    position: relative;
    padding-top: 10%;
    padding-inline: 25% 25%;
    font-size: 20px;
}
.title {
    text-align: center;
    font-size: 50px;
}

.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(61, 61, 61);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(105, 0, 58);
    text-decoration: underline;
  }